## Creating Dictionaries

In [1]:
key_1 = " krishnadev"

In [4]:
key_1.__hash__() # hash function

-8018951258725449395

In [5]:
dict()

{}

In [7]:
dict(name="krishnadev",age="23")

{'name': 'krishnadev', 'age': '23'}

In [8]:
dict([["name","krishnadev"],["age",23]])

{'name': 'krishnadev', 'age': 23}

In [9]:
dict([["name","krishnadev"],["age",23]])==dict([["name","krishnadev"],["age",23]])

True

### accessing dictionary data in Python

In [4]:
student ={
    'name':"krishnadev",
    'age':23,
    "major":"engineering"
}

In [5]:
student["age"]

23

In [7]:
student["name"]

'krishnadev'

In [8]:
student.get("age")

23

In [9]:
student.get("age","missing key")

23

In [11]:
pet_info = { 'Name': 'Charlie', 
             'Species': 'Dog'}
pet_info.get(0)

In [12]:
student = { 'Name': 'Chris',
            'Major': 'Math'}
student['Major'] = 'Economics'
student.get('Major', 'Math')

'Economics'

### dictionary view in python

In [13]:
student ={
    'name':"Krishnadev",
    'age':23,
    'major':"maths"
}

In [15]:
student.keys()

dict_keys(['name', 'age', 'major'])

In [16]:
student.values()

dict_values(['Krishnadev', 23, 'maths'])

In [17]:
student.items()

dict_items([('name', 'Krishnadev'), ('age', 23), ('major', 'maths')])

In [19]:
'name' in student.keys()

True

In [20]:
'name'in student

True

## set and sets

In [21]:
set("aaabbbccc")

{'a', 'b', 'c'}

In [22]:
{'s','k','r'}

{'k', 'r', 's'}

In [24]:
s=set('aaaaaabbbbbbcccccccccc')

In [27]:
s.add("d")

##### to check the disjoint of the set

In [29]:
s1 =set(range(3))
s1

{0, 1, 2}

In [31]:
s2 =set("krshnadev")
s2

{'a', 'd', 'e', 'h', 'k', 'n', 'r', 's', 'v'}

In [33]:
s1.isdisjoint(s2)

True

#### to check the disjoint of the set

In [34]:
s1 =set(range(3))
s1

{0, 1, 2}

In [36]:
s2 =set(range(3))
s2

{0, 1, 2}

In [37]:
s1.isdisjoint(s2)

False

### subset

subset--> all items of the first set are found in the second set

In [39]:
s1=set(range(10))
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [41]:
s2=set(range(2,6))
s2

{2, 3, 4, 5}

In [43]:
s2.issubset(s1)# all item of s2 are in s1

True

In [45]:
s1.issubset(s2)#all item of s1 are not in s2

False

### superset

In [47]:
s1.issuperset(s2) # all item of second set are found in first

True

### union

In [48]:
s1= set(range(10))
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [49]:
s2 = set("krishnadev")
s2

{'a', 'd', 'e', 'h', 'i', 'k', 'n', 'r', 's', 'v'}

In [50]:
s1.union(s2)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'a',
 'd',
 'e',
 'h',
 'i',
 'k',
 'n',
 'r',
 's',
 'v'}

In [51]:
s1.intersection(s2)

set()

In [52]:
set("Mississippi")

{'M', 'i', 'p', 's'}

In [53]:
{1, 2, 3}.union({ 3, 4, 5})

{1, 2, 3, 4, 5}

In [54]:
s1 = {0, 1, 2, 3}
s2 = {1, 3}
s1.issubset(s2)

False

In [55]:
{1, 2, 3, 4}.difference({3, 4, 5})

{1, 2}